.vscode
.vscode/

__pycache__
__pycache__/

.venv
.venv/
venv
venv/
env/
env
fastapi/
flask
flask/
flask
flask/
fastapi
fastapi/


exports
exports/

.env
flaskwebapp.log

error.log

Predictions/models/*
!Predictions/models/.gitkeep

.idea
.idea/

vcs.xml

flask
flask/
fastapi
fastapi/

dev-error.log

.pytest_cache